html, body {
  margin: 0;
  position: relative;
  font-family: serif;
  font-style: italic;
  font-size: 4.5vh;
  line-height: 7.5vh;
}


* {
  box-sizing: border-box;
/*  cursor: crosshair;*/
}

a {
  color: #004AC7;
}

a:hover {
  font-style: italic;
}


#block-center {
  display: block;
/*   background-color: blue; */
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#header {
/*  display: block;*/
  width: 100vw;
  height: 10vh;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  background-color: #24473E;
  text-align: center; 
  font-size: 4vh;
  line-height: 4vh;
  color: white;
}

#header:hover {
  font-style: italic;
}


#column-left {
/*   background-color: yellow; */
  height: 100vh;
  width: 50vw;
  float: left;
  overflow: scroll;
}

#column-right {
/*   background-color: purple; */
  height: 100vh;
  width: 50vw;
  float: left;
  overflow: scroll;
}

.section {
  float: left;
  width: 100%;
  height: 100vh;
  padding: 8%;
  overflow: hidden;
  text-align: center;
}

.section1 {
  background-color: #93B0DE;
}

.section2 {
  background-color: #454C87;
}

.section3 {
  background-color: #454C87;
  color: white;
}

.section4 {
  background-color: #93B0DE;
}

.section5 {
  background-color: #454C87;
  color: white;
}

.section6 {
  background-color: #93B0DE;
}



p {
  text-align: center;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  margin-bottom: 2vw;
}



#property {
  color: #00A1B4;
}

#property:hover {
  font-style: italic;
}

#value {
  color: #004AC7;
}

#value:hover {
  font-style: italic;
}

#next {
  color: #004AC7;
}
