html {
  width: 100vw;
  margin: 0;
  background-color: #000;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
font-family: "Visual";
src: url("fonts/Visual.otf");
src: 
url("fonts/Visual.otf") format("opentype");
}

#container {
  position: absolute;
  top: 0;
}

#fillleft {
  background-color: #D3AE66;
}

#fillright {
  background-color: #D3AE66;
  cursor: url(cursorright.png) 10 10, pointer;
}

a {
  text-decoration: none;
  color: inherit;
  height: inherit;
  background-color: inherit;

}

a:hover {
/*  cursor: pointer;*/
}



/*<----------BACKGROUND GRID---------->*/

.backgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr;
  background-color: #666666;
  padding: .4vh;
  margin: 0;
  grid-gap: .4vh;
  z-index: 1;
}

.backgrid > div {
  background-color: #000;
  height: 100vh;
  color: #D3AE66;
  font-family: helvetica;
}

.extend1 {
  grid-column: 2 / 7;
  grid-row: 1 / 2;
}

.extend2 {
  grid-column: 7 / 12;
  grid-row: 1 / 2;
}

.extend3 {
  grid-column: 12 / 14;
  grid-row: 1 / 2;
}

/*<----------HEADER---------->*/

.header {
  width: 100vw;
  z-index: 2;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr;
  margin: 0;
  z-index: 2;
  top: 0;
}

.header > div {
  display: block;
  position: relative;
  height: 8vh;
}

.header_extend1 {
  grid-column: 2 / 7;
  grid-row: 1 / 2;
}

.header_extend2 {
  grid-column: 7 / 12;
  grid-row: 1 / 2;
}

.header_extend3 {
  grid-column: 12 / 14;
  grid-row: 1 / 2;
}

.logo {
  float: left;
  width: 15vw;
  position: absolute;
  padding-top: 1vh;
  left: 0;
  top: 0;
}

.icon {
  float: right;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.title2 {
  text-align: left;
  color: #D3AE66;
  font-family: "Visual";
  font-size: 3.5vh;
  padding-top: 1vh; 
  height: 8vh;
}

.title2:hover {
  color: white;
  cursor: pointer;
}

.title2nohover {
  text-align: left;
  color: #D3AE66;
  font-family: "Visual";
  font-size: 3.5vh;
  padding-top: 1vh; 
  height: 8vh;
}

/*<----------NAVIGATION---------->*/

.navigation {
  width: 100vw;
  height: 8vh;
  z-index: 2;

  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr;
  margin: 0;
  z-index: 2;
  top: 0;
  border-top:.25vh solid #666666;
  border-bottom:.25vh solid #666666;
}

.navigation > div {
  color: #666666;
  font-family: helvetica;
  text-align: center;
  font-size: 3vh;
  margin-top: 2.2vh; 
  margin-bottom: 2vh; 
}

.navigation > div:hover {
  font-style: italic;
  cursor: pointer;
  color: #fff;
}

/*<----------INFO---------->*/

.info {
  width: 100vw;
  z-index: 2;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr;
  margin: 0;
  z-index: 2;
  top: 0;
}

.info > div {
  color: #D3AE66;
  font-family: "Visual";
  text-align: left;
  font-size: 4vh;
  padding-top: 2.2vh; 
  padding-bottom: 2vh;
  height: 8vh;
}

.extend1 {
  grid-column: 2 / 7;
  grid-row: 1 / 2;
}

.extend2 {
  grid-column: 7 / 12;
  grid-row: 1 / 2;
}

.extend3 {
  grid-column: 12 / 14;
  grid-row: 1 / 2;
}

.white {
  color: #fff;
}

.helvetica {
  font-family: helvetica;
}

/*<----------ARTICLES---------->*/



.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr;
  background-color: #D3AE66;
  padding: .4vh;
  padding-top: 1vh;
  margin: 0;
  z-index: 2;
}

.articles > div {
  background-color: #000;
  height: 33vh;
  color: #D3AE66;
  padding-top: 1vh;
  font-family: "Visual";
  height: 200vh;
  border-bottom: .7vh solid #D3AE66;
  overflow: hidden;
}

/*.article1:hover {
  color: yellow;
  cursor: pointer;
}*/

.extend1 {
  grid-column: 2 / 7;
  grid-row: 1 / 2;
}

.extend2 {
  grid-column: 7 / 12;
  grid-row: 1 / 2;
}

.extend3 {
  grid-column: 12 / 14;
  grid-row: 1 / 2;
}

.extend1article {
  grid-column: 2 / 8;
  grid-row: 1 / 2;
  position: relative;
}

.extend2article {
  grid-column: 8 / 14;
  grid-row: 1 / 2;
  position: relative;
}


.title {
  font-size: 4vh;
  overflow: visible;
  padding-left: 2vh;
}

/*<----------IMAGES---------->*/

.images {
  height: 45vh;
  padding: 2vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .8;
}

.image1 {
  top: 20%;
}

.image2 {
  top: 50%;
}

.image3 {
  top: 80%;
}

.image4 {
  top: 25%;
}

.image5 {
  top: 55%;
}

.image6 {
  top: 85%;
}

.images:hover {
  opacity: 1;
}

.decotext {
  font-family: "Visual";
  font-size: 60vh;
  text-align: center;
  line-height: 55vh;
  color: #D3AE66;
}





