html, body {
  width: 100vw;
  margin: 0;
}


@font-face {
font-family: "Rando Medium";
src: url("Rando_Display_Medium.ttf");
src: 
url("css/fonts/Harabara.otf") format("truetype"),
}

@font-face {
font-family: "Circular Medium";
src: url("circular-medium.otf");
src: 
url("circular-medium.otf") format("opentype"),
}

@font-face {
font-family: "Circular Book";
src: url("CircularStd-Book.otf");
src: 
url("CircularStd-Book.otf") format("opentype"),
}


/*img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  image-orientation: from-image;
}*/

#header {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow-wrap: break-word;
  background-color: #FFF;
  top: 0;
  left: 0;
  width: 100vw;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  text-align: center;
  height: 20vh;
  font-size: 5.5vh;
  font-family: 'Circular Medium', Arial, sans-serif;
}

#footer {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow-wrap: break-word;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #FFF;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
  padding-top: 2%;
  text-align: center;
  font-size: 2vh;
  font-family: 'Rando Medium', Arial, sans-serif;
  position: fixed;
}


#toggles {
  background-color: #FFF;
  width: 100vw;
  padding-right: 2%;
  text-align: center;
  line-height: 9vh;
  font-size: 2.5vh;
  font-family: 'Circular Book', Arial, sans-serif;
}

.show:hover {
  color: red;
  cursor: pointer;
  text-decoration: underline;
}

.hide:hover {
  color: red;
  cursor: pointer;
  text-decoration: underline;
}

img[src*="kippah_collage"] {
  height: 50vh;
  float: right;
  padding-top: 5%; 
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 0;
}

#container {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #FFF;
  top: 0;
  left: 0;
  width: 100vw;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0;
  padding-bottom: 5%;
}

/*#text {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow-wrap: break-word;
  top: 0;
  left: 0;
  width: 100vw;
  padding-left: 10%;
  padding-right: 4%;
  float: left;

}*/


/*#images {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: blue;
  top: 0;
  right: 0;
  width: 20vw;
  float: left;
  padding-left: 0%;
  padding-right: 4%;

}*/

p {
  font-size: 5vh;
  line-height: 9vh;
  font-family: 'Rando Medium', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  margin: 0;
  padding: 0;
  text-indent: 10vw;

}


.hypertext {
  font-size: 5vh;
  line-height: 9vh;
  font-family: 'Circular Medium', Arial, sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
}

.hypertext:hover {
  color: red;
}

.expand {
  font-size: 5vh;
  line-height: 9vh;
  font-family: 'Circular Medium', Arial, sans-serif;
  color: red;
  margin: 0;
  padding: 0; 
}

.expand:hover {
  cursor: pointer;

}

a {
  background-color: #FFF;
  width: 100vw;
  padding-right: 2%;
  text-align: center;
  line-height: 9vh;
  font-size: 3vh;
  font-family: 'Circular Book', Arial, sans-serif;
  text-decoration: none;
  color: red;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: red;
}
/*
::selection{
  background-color: red;
  color: white;
  opacity: none;*/
